<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Movies_kitarp</title>
  <link rel = "icon" href =
  "https://w7.pngwing.com/pngs/257/192/png-transparent-popcorn-popcorn-food-smiley-cartoon.png"
    type = "image/x-icon">
  <link rel="stylesheet" href="css/srch.css">
</head>

<body>
  <h1><%=naam%></h1>
  <img src="<%=pic%>">
  <br>
  <a href="https://www.imdb.com/title/<%=link%>/">Imdb_page</a>
  <br>
  <p>release Date: <%=saal%></p>
  <p>Runtime:<%=time%></p>
  Rated:<%=rate%>
  <hr>
  <h2>Critics Ratings</h2>
  Imdb ratings=<%=imdb%>/10<br>
  Metascore=<%=ms%>/100 <br>
  Awards-<%=a%>

  <hr>
  Plot-
  <br>
  <%=plot%>

</body>

</html>
