<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1><%=naam%></h1>
  <img src="<%=pic%>">
  <br>
  <a href="https://www.imdb.com/title/<%=link%>/">Imdb_page</a>
  <br>
  <p>release Date: <%=saal%></p>
  <p>Runtime:<%=time%></p>
  Rated:<%=rate%>
  <hr>
  <h2>Critics Ratings</h2>
  Imdb ratings=<%=imdb%>/10<br>
  Metascore=<%=ms%>/100 <br>
  Awards-<%=a%>

  <hr>
  Plot-
  <br>
  <%=plot%>

</body>

</html>
